In [1]:
# import library

import pandas as pd
import warnings

warnings.filterwarnings('ignore')

C:\Users\91967\anaconda3.x\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

### Car Sales Dataset

In [2]:
# Read csv dataset

df = pd.read_csv("C:/Users/91967/Downloads/car_prices.csv/car_prices.csv")

In [3]:
# Show a dataset how it is look like

df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
# check any null values

df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [5]:
# Check the shape of dataset

print(f"Number or rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")
original_data = len(df)

Number or rows: 558837
Number of columns: 16

In [6]:
# Percent of data we loss when we drop the null values

(df.isna().sum()/len(df))*100

year             0.000000
make             1.843292
model            1.860829
trim             1.905922
body             2.361154
transmission    11.694287
vin              0.000716
state            0.000000
condition        2.115107
odometer         0.016821
color            0.134028
interior         0.134028
seller           0.000000
mmr              0.006800
sellingprice     0.002147
saledate         0.002147
dtype: float64

In [7]:
# Drop null values

df.dropna(inplace=True)

In [8]:
# % Percent of data we use for further analysis from actual dataset

(len(df)/original_data) * 100

84.51927843002521

In [9]:
# Check all datatype of columns 

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   make          472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  sellingprice  472325 non-null  float64
 15  saledate      472325 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 61.3+ MB

In [10]:
df.saledate[0]

'Tue Dec 16 2014 12:30:00 GMT-0800 (PST)'

In [11]:
df['saledate'] = pd.to_datetime(df["saledate"])

In [13]:
df['saledate'] = df['saledate'].astype(str)

In [14]:
type(df.saledate[0])

str

In [15]:
df['saledate'] = df.saledate.str.split(' ', expand=True)[0]

In [16]:
df['saledate'] = pd.to_datetime(df['saledate'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 472325 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          472325 non-null  int64
 1   make          472325 non-null  object
 2   model         472325 non-null  object
 3   trim          472325 non-null  object
 4   body          472325 non-null  object
 5   transmission  472325 non-null  object
 6   vin           472325 non-null  object
 7   state         472325 non-null  object
 8   condition     472325 non-null  float64
 9   odometer      472325 non-null  float64
 10  color         472325 non-null  object
 11  interior      472325 non-null  object
 12  seller        472325 non-null  object
 13  mmr           472325 non-null  float64
 14  sellingprice  472325 non-null  float64
 15  saledate      472325 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(10)
memory usage: 77.4+ MB